<% include ../partials/header %>
    







<div class="container">
    
   <!-- <div id="map"></div> -->
    	


<header class="jumbotron">
<div class="container"><h1>Welcome To XYZ<h1>

<p><a class="btn btn-primary btn-lg" href="/events/new">Post New Event</a> </p>
</div>
</header>

        <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        
        <% events.forEach(function(event){  {	 %>
      
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail"> 
                <img src="<%=event.image%>">
                
                <div class="caption">
                    <h4><%=event.name %></h3>
                    </div>  
                    <p><a href="/events/<%=event._id%>" class="btn btn-primary">More Info</a></p>
                </div>
            </div>
             
             
            
            
        
            
        <% }  }) %>
        </div>
</div>
<% include ../partials/footer %>

	
	

<script>
  var events = <%- JSON.stringify(events) %>;

  function init() {	var marker = [];
	    var infowindow = [];
	    var map;
    var locations = [];
    var info=[];
    
    
    events.forEach(function (event) { //var q=new Date(); if(event.created.getDate()===q.getDate()) 
    {
      
      locations.push({ latlng:new google.maps.LatLng(event.lat, event.lng)})
      info.push({description:event.name})
   

   } });
        var bounds = new google.maps.LatLngBounds();
	    
    
		map = new 		                              
       google.maps.Map(document.getElementById('map'), {
			center: locations[0].latlng,
			zoom: 10
		});
    
    for(let i = 0; i < locations.length; i++) {
        marker.push(new google.maps.Marker({
        position: locations[i].latlng,
        map: map,
       })
       );bounds.extend(locations[i].latlng);
  
      infowindow.push(new google.maps.InfoWindow({
        content: info[i].description
      }));
  
      marker[i].addListener('click', () => {
        infowindow[i].open(map, marker[i]);
      });	
    } map.fitBounds(bounds);
	}
  window.onload = init;
</script>

<script src="http://maps.google.com/maps/api/js?key=AIzaSyDh9gIkIRpa98pDpseDftsHHSb28aXgICo&callback=init"></script>