<% include ../partials/header %>
    







<div class="container">
    
    <div id="map"></div>
    
</div>
<% include ../partials/footer %>

	
	

<script>
  var events = <%- JSON.stringify(events) %>;

  function init() {	var marker = [];
	    var infowindow = [];
	    var map;
    var locations = [];
    var info=[];
    
    
    events.forEach(function (event) {
      
      locations.push({ latlng:new google.maps.LatLng(event.lat, event.lng)})
      info.push({description:event.name})
   

   });
        var bounds = new google.maps.LatLngBounds();
	    
    
		map = new 		                              
       google.maps.Map(document.getElementById('map'), {
			center: locations[0].latlng,
			zoom: 10
		});
    
    for(let i = 0; i < locations.length; i++) {
        marker.push(new google.maps.Marker({
        position: locations[i].latlng,
        map: map,
       })
       );bounds.extend(locations[i].latlng);
  
      infowindow.push(new google.maps.InfoWindow({
        content: info[i].description
      }));
  
      marker[i].addListener('click', () => {
        infowindow[i].open(map, marker[i]);
      });	
    } map.fitBounds(bounds);
	}
  window.onload = init;
</script>

<script src="https://maps.google.com/maps/api/js?key=AIzaSyDh9gIkIRpa98pDpseDftsHHSb28aXgICo&callback=init"></script>